@import-normalize;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  color: #444444;
  font-size: 1rem;
  line-height: 1.5;
  margin: 30px;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
  color: #04baee;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}
